/*

Fonts:

font-family: 'Roboto', sans-serif;
font-family: 'Inconsolata', monospace;


Color Palette:

Light Blue - #95b0e7
Dark Blue - #5881d8
Light Green - #91dc47
Dark Green - #63b132

*/

::-moz-selection { /* Code for Firefox */
    color: #fdfdfd;
    background: #91dc47;
}

::selection { /* Code for Firefox */
    color: #fdfdfd;
    background: #91dc47;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

input[type="text"] {
    outline: none;
    border: none;
    resize: none;
    color: #91dc47;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    font-size: 1em;
    background-color: rgba(0,0,0,0.0);
}

html {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
    width: 100%;
    background-color: #dfdfdf;
}


#app {
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    background-color: #91dc47;
    flex-grow 0;
    padding: 10px;
}

.split-container {
    display: flex;
    flex-grow: 1;
}

.console-container {
    width: 38%;
    background-color: #1d1d1d;
    color: #d5d5d5;
    padding: 1em;
    padding-left: 0;
    overflow: auto;
}


.output-element {
    font-family: 'Inconsolata', monospace;
    padding-bottom: 3px;
    padding-left: 1em;
}

.output-text {
    font-family: 'Inconsolata', monospace;
}


.input-element {
    display: flex;
    flex-direction: row;
    color: #63b132;
    align-items: center;
}

.input-text {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
}

.input-prompt {
    display: inline-block;
    color: #5881d8;
    width: 1em;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.editor-container {
    width: 62%;
    padding: 1em;
}


